<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>AaposBookStore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <table class="table table-striped">
      <tr th:each=" book : ${books}">
        <td
          th:text=" 'id'+ ${book.title} + ' author' + ${book.author}+ ' publicationYear ' + ${book.publicationYear} + ' isbn  ' +${book.isbn} + ' price  ' +${book.price}"
        ></td>
      </tr>
    </table>
  </body>
</html>
